# Delphi files
*.dcu
*.dcp
*.bpl
*.dcuil
*.obj
*.res
*.tds
*.bak
*.identcache
*.dproj.local
*.dproj.user
*.dsk
*.~*
__history/
Win32/
Win64/
iOSDevice32/
iOSDevice64/
Android/
.DS_Store
*.local
*.sync
*.bak
*.~*
*.log
*.exe
*.bpl
*.lib
*.tlb
*.map
*.dres
*.rsm
*.stat
*.txt
*.xml